<!DOCTYPE html>
<html>
    <head>
        <!--[if gte mso 9]>
        <xml>
            <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="format-detection" content="date=no" />
        <meta name="format-detection" content="address=no" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="x-apple-disable-message-reformatting" />
        <!--[if !mso]><!-->
            <link href="https://fonts.googleapis.com/css?family=Kreon:400,700|Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i" rel="stylesheet" />
        <!--<![endif]-->
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!--[if gte mso 9]>
        <style type="text/css" media="all">
            sup { font-size: 100% !important; }
        </style>
        <![endif]-->
        
    
        <style type="text/css" media="screen">
            /* Linked Styles */
            body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; 
                background:#02BEF5; -webkit-text-size-adjust:none ;
            }
            table > tr > td{color:red !important;}
            a { color:#000001; text-decoration:none }
            p { padding:0 !important; margin:0 !important } 
            img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
            .mcnPreviewText { display: none !important; }
            .text-footer2 a { color: #ffffff; } 
            
            /* Mobile styles */
            @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
                .mobile-shell { width: 100% !important; min-width: 100% !important; }
                
                .m-center { text-align: center !important; }
                .m-left { text-align: left !important; margin-right: auto !important; }
                
                .center { margin: 0 auto !important; }
                .content2 { padding: 8px 15px 12px !important; }
                .t-left { float: left !important; margin-right: 30px !important; }
                .t-left-2  { float: left !important; }
                
                .td { width: 100% !important; min-width: 100% !important; }
    
                .content { padding: 30px 15px !important; }
                .section { padding: 30px 15px 0px !important; }
    
                .m-br-15 { height: 15px !important; }
                .mpb5 { padding-bottom: 5px !important; }
                .mpb15 { padding-bottom: 15px !important; }
                .mpb20 { padding-bottom: 20px !important; }
                .mpb30 { padding-bottom: 30px !important; }
                .m-padder { padding: 0px 15px !important; }
                .m-padder2 { padding-left: 15px !important; padding-right: 15px !important; }
                .p70 { padding: 30px 0px !important; }
                .pt70 { padding-top: 30px !important; }
                .p0-15 { padding: 0px 15px !important; }
                .p30-15 { padding: 30px 15px !important; }			
                .p30-15-0 { padding: 30px 15px 0px 15px !important; }			
                .p0-15-30 { padding: 0px 15px 30px 15px !important; }			
    
    
                .text-footer { text-align: center !important; }
    
                .m-td,
                .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }
    
                .m-block { display: block !important; }
    
                .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }
    
                .column,
                .column-dir,
                .column-top,
                .column-empty,
                .column-top-30,
                .column-top-60,
                .column-empty2,
                .column-bottom { float: left !important; width: 100% !important; display: block !important; }
    
                .column-empty { padding-bottom: 15px !important; }
                .column-empty2 { padding-bottom: 30px !important; }
    
                .content-spacing { width: 15px !important; }

               
            }

            .sp-social-media{
                width: 18px;
                height: 18px;
                padding: 3px;
                border: 2px solid #fff;
                border-radius: 50px;
                background-repeat: no-repeat !important;
                display: inline-block;
                margin: 5px;
                transition: 0.5s;
            }
            .sp-social-media svg{
              width: 18px !important;
              height: 18px !important;
              color: #fff;
              transition: 0.5s;
            }
            .sp-social-media:hover{
              border: 2px solid #006abf;
            }
            .sp-social-media:hover svg{
              color: #006abf;
            }
            #sp-top3{
              margin-top: 7px;
              padding-top: 0;
            }
            #sp-top3 a{
              text-decoration: none;
            }
            .sp-social-media-container{
              margin-top: 15px;
            }
            #sp-bottom4 .sp-social-media{
              border: 2px solid #959595;
            }
            #sp-bottom4 .sp-social-media svg{
              color: #959595;
            }
            #sp-bottom4 .sp-social-media:hover{
              border: 2px solid #fff;
            }
            #sp-bottom4 .sp-social-media:hover svg{
              color: #fff;
            }
            .logo_social{
                margin:5px !important;
            }

        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="body"style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#0590ff; -webkit-text-size-adjust:none;">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>