<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#1F3042; margin-bottom:50px;">
    <tr>
        <td class="text-footer2 p30-15" style="padding: 20px 15px 20px 15px; color:#a9b6e0; font-family:Arial,sans-serif; font-size:12px; line-height:22px; text-align:center;">
<multiline><a href="#" target="_blank" class="link-white"style="color:#ffffff; text-decoration:none;"><span class="link-white"style="color:#ffffff; text-decoration:none;">https://tracklink.pe</span></a> | <a href="tel:016307575" target="_blank" class="link-white"style="color:#ffffff; text-decoration:none;"><span class="link-white"style="color:#ffffff; text-decoration:none;">01-6307575</span></a></multiline>
</td>
    </tr>
</table>