{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#02BEF5;">
		<tr>
			<td align="center" valign="top">
				<!-- Main -->
				<table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
					<tr>
						<td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
							<!-- Header -->
							{{ include('header.html.twig') }}
							<!-- END Header -->
								
							<!-- Section 1 -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">

								<tr>
									<td class="p30-15-0" style="padding: 50px 30px 0px;" bgcolor="#ffffff">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="h5-center" style="font-family:Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:5px;">
                          <span style="color:#02BEF5;">Estimado central de emergencia, se acaba de ingresar un nuevo reclamo Nro {{ vreclamo_cliente }}</span>
                        </td>
											</tr>
                      <tr>
												<td style="color:#1F3042; font-family:Arial,sans-serif; font-size:14px; line-height:36px; text-align:center;">
                          Cliente
                        </td>
											</tr>
											<tr>
												<td class="h2-center"style="color:#1F3042; font-family:Arial,sans-serif; font-size:20px; line-height:36px; text-align:center; padding-bottom:10px;">
                          {{ cliente_nombre }}
                        </td>
											</tr>
                      <tr>
												<td style="color:#1F3042; font-family:Arial,sans-serif; font-size:14px; line-height:30px; text-align:left;">
                          Reclamo ingresado por {{ canal_descripcion }}.
                        </td>
											</tr>
                      <tr>
												<td style="color:#1F3042; font-family:Arial,sans-serif; font-size:14px; line-height:30px; text-align:left; padding-bottom:22px;">
                          Area responsable de reclamo: {{ area_responsable_nombre }}
                        </td>
											</tr>
						<!-- Agregar campo tmotivo_reclamo en un cuadro -->
						<tr>
						<td style="color:#1F3042; font-family:Arial,sans-serif; font-size:14px; line-height:30px; text-align:left; padding-bottom:22px;">
							<div style="border: 1px solid #02BEF5; padding: 10px; border-radius: 5px;">
							<strong>Motivo del reclamo:</strong> {{ tmotivo_reclamo }}
							</div>
						</td>
						</tr>

						<!-- Agregar campo tsolicitud_reclamo en un cuadro -->
						<tr>
						<td style="color:#1F3042; font-family:Arial,sans-serif; font-size:14px; line-height:30px; text-align:left; padding-bottom:22px;">
							<div style="border: 1px solid #02BEF5; padding: 10px; border-radius: 5px;">
							<strong>Solicitud del reclamo:</strong> {{ tsolicitud_reclamo }}
							</div>
						</td>
						</tr>
											<tr>
												<td style="color:#1F3042; font-family:Arial,sans-serif; font-size:14px; line-height:30px; text-align:left; padding-bottom:22px;">
												<span style="color:#1F3042;">Atentamente</span><br><span style="color:#1F3042;">Tracklink</span>
												</td>
											</tr>
											<tr>
												<td align="center">
                          {#
													<table border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="text-button-orange"style="background:#e85711; color:#ffffff; font-family:Arial,sans-serif; font-size:14px; line-height:18px; text-align:center; padding:10px 20px; border-radius:20px;"><a href="#" target="_blank" class="link-white"style="color:#ffffff; text-decoration:none;"><span class="link-white"style="color:#ffffff; text-decoration:none;">View More</span></a></td>
														</tr>
													</table>
                          #}
												</td>
											</tr>
										</table>
									</td>
								</tr>
                
							</table>
							<!-- END Section 1 -->


							<!-- Footer -->
							{{ include('footer.html.twig') }}
							<!-- END Footer -->
						</td>
					</tr>
				</table>
				<!-- END Main -->

			</td>
		</tr>
	</table>

{% endblock %}
