

input[name="tipoCliente"] {
    position: absolute;
    left: -10000px;
}
input[name="tipoCliente"]:focus ~ .tabs .tab {
    /*box-shadow: 0 0 1px 2px rgba(0,127,255,.5);*/
}
#starks:focus ~ .tabs #starks-tab,
#lannisters:focus ~ .tabs #lannisters-tab,
#targaryens:focus ~ .tabs #targaryens-tab {
    box-shadow: none;
}

input[name="tipoCliente"]:focus ~ .aria-message {
  left: auto;
  right: 0;
}

.tab {
    display: inline-block;
    padding: .5em;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
}
.tab:hover {
    background-color: #fff;
}
#starks:checked ~ .tabs #starks-tab,
#lannisters:checked ~ .tabs #lannisters-tab,
#targaryens:checked ~ .tabs #targaryens-tab {
    background-color: #fff;
    border-bottom: .3em solid #fff;
    cursor: default;
}

.panels {
    background-color: #fff;
    padding: .5em;
}
.panel {
    display: none;
}
#starks:checked ~ .panels #starks-panel,
#lannisters:checked ~ .panels #lannisters-panel,
#targaryens:checked ~ .panels #targaryens-panel {
    display: block;
}
