

input[name="lugarInstacion"] {
    position: absolute;
    left: -10000px;
}
input[name="lugarInstacion"]:focus ~ .tabs .tab {
    /*box-shadow: 0 0 1px 2px rgba(0,127,255,.5);*/
}
#taller:focus ~ .tabs #taller-tab,
#domicilio:focus ~ .tabs #domicilio-tab,
#concesionario:focus ~ .tabs #concesionario-tab,
#targaryens:focus ~ .tabs #targaryens-tab {
    box-shadow: none;
}

input[name="lugarInstacion"]:focus ~ .aria-message {
  left: auto;
  right: 0;
}

.tab {
    display: inline-block;
    padding: .5em;
    vertical-align: top;
    background-color: steelblue;
    color:#fff;
    cursor: hand;
    cursor: pointer;
}
.tab:hover {
    background-color: #fff;
    color:#0a0a0a;
}
#taller:checked ~ .tabs #taller-tab,
#domicilio:checked ~ .tabs #domicilio-tab,
#concesionario:checked ~ .tabs #concesionario-tab,
#targaryens:checked ~ .tabs #targaryens-tab {
    background-color: #fff;
    border-bottom: .3em solid #fff;
    cursor: default;
    color:black;
}

.panels {
    background-color: #fff;
    padding: .5em;
}
.panel {
    display: none;
}
#taller:checked ~ .panels #taller-panel,
#domicilio:checked ~ .panels #domicilio-panel,
#concesionario:checked ~ .panels #concesionario-panel,
#targaryens:checked ~ .panels #targaryens-panel {
    display: block;
}

/* para operaciones*/


input[name="tpoperacion"] {
    position: absolute;
    left: -10000px;
}
input[name="tpoperacion"]:focus ~ .tabs .tab {
    /*box-shadow: 0 0 1px 2px rgba(0,127,255,.5);*/
}
#operaciones:focus ~ .tabs #operaciones-tab,
#integracionpacifico:focus ~ .tabs #integracionpacifico-tab,
#integracionwebtrack:focus ~ .tabs #integracionwebtrack-tab,
#integracionplanfull:focus ~ .tabs #integracionplanfull-tab,
#integracionqualitas:focus ~ .tabs #integracionqualitas-tab,
#integracionToyota:focus ~ .tabs #integracionToyota-tab,
#targaryens:focus ~ .tabs #targaryens-tab {
    box-shadow: none;
}

input[name="tpoperacion"]:focus ~ .aria-message {
    left: auto;
    right: 0;
}


#operaciones:checked ~ .tabs #operaciones-tab,
#integracionpacifico:checked ~ .tabs #integracionpacifico-tab,
#integracionwebtrack:checked ~ .tabs #integracionwebtrack-tab,
#integracionplanfull:checked ~ .tabs #integracionplanfull-tab,
#integracionqualitas:checked ~ .tabs #integracionqualitas-tab,
#integracionToyota:checked ~ .tabs #integracionToyota-tab,
#targaryens:checked ~ .tabs #targaryens-tab {
    background-color: #fff;
    color: #0a0a0a;
    border-bottom: .3em solid #fff;
    cursor: default;
}

.panels {
    background-color: #fff;
    padding: .5em;
}

.panel {
    display: none;
}
#operaciones:checked ~ .panels #operaciones-panel,
#integracionpacifico:checked ~ .panels #integracionpacifico-panel,
#integracionwebtrack:checked ~ .panels #integracionwebtrack-panel,
#integracionplanfull:checked ~ .panels #integracionplanfull-panel,
#integracionqualitas:checked ~ .panels #integracionqualitas-panel,
#integracionToyota:checked ~ .panels #integracionToyota-panel,
#targaryens:checked ~ .panels #targaryens-panel {
    display: block;
}


/* para Aprobaciones*/


input[name="taprobacionsol"] {
    position: absolute;
    left: -10000px;
}
input[name="taprobacionsol"]:focus ~ .tabs .tab {
    /*box-shadow: 0 0 1px 2px rgba(0,127,255,.5);*/
}
#solicitudes:focus ~ .tabs #solicitudes-tab,
#aprobacion:focus ~ .tabs #aprobacion-tab,
#targaryens:focus ~ .tabs #targaryens-tab {
    box-shadow: none;
}

input[name="taprobacionsol"]:focus ~ .aria-message {
    left: auto;
    right: 0;
}


#solicitudes:checked ~ .tabs #solicitudes-tab,
#aprobacion:checked ~ .tabs #aprobacion-tab,
#targaryens:checked ~ .tabs #targaryens-tab {
    background-color: #fff;
    color: #0a0a0a;
    border-bottom: .3em solid #fff;
    cursor: default;
}

.panels {
    background-color: #fff;
    padding: .5em;
}

.panel {
    display: none;
}
#solicitudes:checked ~ .panels #solicitudes-panel,
#aprobacion:checked ~ .panels #aprobacion-panel,
#targaryens:checked ~ .panels #targaryens-panel {
    display: block;
}
.border-toyota{
    border: 2px solid red !important

}
