/* Select2 custom styles */
.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background-color: #1ab394;
}
.select2-container--bootstrap4 .select2-selection,
.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above,
.select2-container--bootstrap4 .select2-dropdown {
    border-color: #e7eaec;
}
.select2-container :focus {
    outline: none;
}
.select2-container--open {
    z-index: 3000;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    box-shadow: none;
    border-color: #1ab394;
}
.select2-container--bootstrap4 .select2-selection__clear {
    margin-top: 0.9em;
}
.light-skin .select2-container--default .select2-selection--single,
.light-skin .select2-container--default .select2-selection--multiple,
.light-skin .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.05rem;
}
.light-skin .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}