.p-4{
    padding: 4rem;
}

.p-2{
    padding: 2rem;
}

.p-1{
    padding: 1rem;
}

.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/********************************/

.m-2{
    margin: 2rem;
}

.mx-2{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.my-2{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
